<div class="footer">
	<a href="/mindfunction/page/team">expresso english team  </a>|<a href="/mindfunction/page/works">  how it works  </a>|<a href="/mindfunction/page/contact">  contact  </a>|<a href="#">  FAQ  </a>
</div>
</body>
</html>
