	<div class="box">
		<div class="content">
			<center><span class="baslik">Module-1<br/>(Free)</span></center>
		</div>
	<a href="#">More Info</a>
	</div>

	<div class="box">

		<div class="content">
			<center><span class="baslik">Module-2<br/>(Free)</span></center>
		</div>
	<a href="#">More Info</a>
	</div>
	<div class="box">

		<div class="content">
			<center><span class="baslik">Module-3</span></center>
		</div>

	<a href="#">Buy Now</a>/<a href="#">More Info</a>
	</div>

	<div class="box">

		<div class="content">
			<center><span class="baslik">Module-4</span></center>
		</div>
	<a href="#">Buy Now</a>/<a href="#">More Info</a>
	</div>

